/* Initial formatting (no slides yet) */
body {
    height: 100%;
    margin: 0;
    background-image: url("../images/1.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

/* Format the list of song titles */
.songs {
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    background: rgba(149, 163, 179, 0.4);
    color: white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

a:visited {
  color: white;
}

.song-list {
  padding: 70px;
  list-style: none;
  text-align: center;
}

.bg {
  height: 100%;
  background-image: url("../images/1.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}