.wrapper{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 1em;
}
.lyrics{
    background: #eeeeee;
    padding:1em;
}
.heading {
    display: grid;
    grid-template-columns: 30% 70%;
}
.song-title{
    text-decoration: none;
    font-size: 50px;
}
.cover{
    grid-row: 1/3;
    align-content: center;
}

.texta, #a
{
    background-color: #ffccff
}

.textb, #b
{
    background-color: #ffe6cc
}

.textc, #c
{
    background-color: #ffffcc 
}

.textd, #d
{
    background-color: #ccffcc
}

.texte, #e
{
    background-color: #ccffff 
}

.textf, #f
{
    background-color: #A569BD
}